## Settings file was created by plugin Enemy/Valuable Spawn Manager v0.6.9.0
## Plugin GUID: soundedsquash.spawnmanager

[Do Not Use]

## Use Spawn Manager button on main menu
# Setting type: Single
# Default value: 0
Use Spawn Manager button on main menu = 0

[Enemies]

## Comma-separated list of enemy names to disable. (e.g. "Apex Predator,Headman")
# Setting type: String
# Default value: 
DisabledList = 

[General]

## Set to false to hide the Spawn Manager button on the main menu.
# Setting type: Boolean
# Default value: true
ShowSpawnManagerButton = true

[Items]

## Comma-separated list of item names to disable. (e.g. "Cart Medium")
# Setting type: String
# Default value: 
DisabledList = 

## Comma-separated list of item names to disable in this level. (e.g. "Cart Medium")
# Setting type: String
# Default value: 
Arctic - Disabled Items = 

## Comma-separated list of item names to disable in this level. (e.g. "Cart Medium")
# Setting type: String
# Default value: 
Manor - Disabled Items = 

## Comma-separated list of item names to disable in this level. (e.g. "Cart Medium")
# Setting type: String
# Default value: 
Museum - Disabled Items = 

## Comma-separated list of item names to disable in this level. (e.g. "Cart Medium")
# Setting type: String
# Default value: 
Wizard - Disabled Items = 

## Comma-separated list of item names to disable in this level. (e.g. "Cart Medium")
# Setting type: String
# Default value: 
FNAF - Disabled Items = 

## Comma-separated list of item names to disable in this level. (e.g. "Cart Medium")
# Setting type: String
# Default value: 
Shop - Disabled Items = 

## Comma-separated list of item names to disable in this level. (e.g. "Cart Medium")
# Setting type: String
# Default value: 
Arena - Disabled Items = 

## Comma-separated list of item names to disable in this level. (e.g. "Cart Medium")
# Setting type: String
# Default value: 
Stronghold - Disabled Items = 

[Levels]

## Comma-separated list of level names to disable. (e.g. "Level - Manor")
# Setting type: String
# Default value: 
DisabledList = 

## Comma-separated list of enemy names to disable in this level. (e.g. "Apex Predator,Headman")
# Setting type: String
# Default value: 
Arctic - Disabled Enemies = 

## Comma-separated list of enemy names to disable in this level. (e.g. "Apex Predator,Headman")
# Setting type: String
# Default value: 
Manor - Disabled Enemies = 

## Comma-separated list of enemy names to disable in this level. (e.g. "Apex Predator,Headman")
# Setting type: String
# Default value: 
Museum - Disabled Enemies = 

## Comma-separated list of enemy names to disable in this level. (e.g. "Apex Predator,Headman")
# Setting type: String
# Default value: 
Wizard - Disabled Enemies = 

## Comma-separated list of enemy names to disable in this level. (e.g. "Apex Predator,Headman")
# Setting type: String
# Default value: 
FNAF - Disabled Enemies = 

## Comma-separated list of enemy names to disable in this level. (e.g. "Apex Predator,Headman")
# Setting type: String
# Default value: 
Stronghold - Disabled Enemies = 

[Valuables]

## A single tiny valuable used to fill when there aren't enough valuables enabled in the level. (e.g. "Valuable Diamond")
# Setting type: String
# Default value: Valuable Goblet
Default = Valuable Goblet

## Comma-separated list of valuable names to disable. (e.g. "Valuable Television,Valuable Diamond Display")
# Setting type: String
# Default value: 
DisabledList = 

## Comma-separated list of valuable names to disable. (e.g. "Valuable Television,Valuable Diamond Display")
# Setting type: String
# Default value: 
Arctic - Disabled Valuables = 

## Comma-separated list of valuable names to disable. (e.g. "Valuable Television,Valuable Diamond Display")
# Setting type: String
# Default value: 
Manor - Disabled Valuables = 

## Comma-separated list of valuable names to disable. (e.g. "Valuable Television,Valuable Diamond Display")
# Setting type: String
# Default value: 
Museum - Disabled Valuables = 

## Comma-separated list of valuable names to disable. (e.g. "Valuable Television,Valuable Diamond Display")
# Setting type: String
# Default value: 
Wizard - Disabled Valuables = 

## Comma-separated list of valuable names to disable. (e.g. "Valuable Television,Valuable Diamond Display")
# Setting type: String
# Default value: 
FNAF - Disabled Valuables = 

## Comma-separated list of valuable names to disable. (e.g. "Valuable Television,Valuable Diamond Display")
# Setting type: String
# Default value: 
Stronghold - Disabled Valuables = 

